#logo_img{
 vertical-align: middle;
}

.sf-reset .block {
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #dfdfdf;
    padding: 40px 50px;
}
